/* fonts */
/* @font-face {
    font-family: 'Futura Condensed';
    src: url('FuturaCondensedNormal.ttf');
} */

/* @font-face {
    font-family: "FuturaCondensedNormal";
    src: url("../fonts/FuturaCondensedNormal/FuturaCondensedNormal.eot");
    src: url("../fonts/FuturaCondensedNormal/FuturaCondensedNormal.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FuturaCondensedNormal/FuturaCondensedNormal.woff") format("woff"),
    url("../fonts/FuturaCondensedNormal/FuturaCondensedNormal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} */
@font-face {
	font-family: 'CUSTOM';
	src: url('../Futura_Condensed.eot');
    src: url('../Futura_Condensed.eot') format('embedded-opentype')
    url('../Futura_Condensed.woff') format('woff'), 
    url('../Futura_Condensed.ttf') format('truetype'), 
    url('../Futura_Condensed.svg#Futura_Condensed') format('svg');

}
h1{
    font-family: "CUSTOM" !important;
    color: red;
}


@font-face {
    font-family: 'MinionPro';
    src: url('../../assets/fonts/MinionProRegular.otf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSansRegular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../assets/fonts/OpenSansBold.ttf');
}
/* fonts END */



/* utility */

body{
    margin: 0;
    white-space: nowrap;
}
.content {
    width: 100%;
}

/* utility END */

/* reusable */
.button{
    font-family: 'Futura Condensed', sans-serif;
    vertical-align: baseline;
    border: 0 none;
    outline: 0 none;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8px;
    cursor: pointer;
    background-color: #282828;
    padding: 12px;
    width: auto;
    height: 43px;
    border: 1px black solid;
}
.button:hover{
    color: black;
    background-color: white;
    border: 1px black solid;
}
.button_bg-red{
    background-color: red;
    color: white;
    border: 1px red solid;
}
.button_bg-red:hover{
    border: 1px red solid;
    background-color: white;
    color: red;
}
.push{
    margin-left: auto;
}

.triangle{
    display: inline-block;
    background-image: url('../img/icons/inline-triangle.svg');
    width: 7px;
    height: 7px;
    margin: 0 4px 2px 0;
}
/* reusable END */

/* header */





.header {
    position: relative;
    height: 100px;
    background-color: #E9E9E9;
    font-family: 'Open Sans Bold', sans-serif;
    z-index: 10;
}


.header .logo {
    width: 126px;
    height: 43px;
    background-image: url('../img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.header .info {
}
.header .info .phone {
    position: relative;
}
.header .info .phone a {
    text-decoration: none;
    color: black;
}
.header .info .phone::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: -22px;
    background-image: url('../img/icons/icons8-phone-50.png');
    background-size: 100%;
}
.header .info .time {
    position: relative;
}
.header .info .time::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: -22px;
    background-image: url('../img/icons/icons8-clock-100.png');
    background-size: 100%;
}

.header .email {
    position: relative;
}
.header .email a {
    text-decoration: none;
    color: black;
}
.header .email::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 19px;
    top: 2px;
    left: -30px;
    background-image: url(../img/icons/icons8-envelope-100.png);
    background-size: 100%
}
@media (max-width: 767px){
    .header {
        height: 300px;
    }
    .header .logo{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .header .info{
        margin-bottom: 15px;
    }
    .header * {
        margin-bottom: 10px;
    }
    .header .button{
        width: 100%;
    }
                         
}



.navigation {
    height: 100px;
    background-color: white;
    font-weight: bold;
}

.navigation .item {
    padding: 0 10px;
    height: 35px;
    box-sizing: border-box;
}
.navigation .item:hover{
    border-bottom: 7px red solid;

}

.navigation .item a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'FuturaCondensedNormal', sans-serif;
    color: black;
    font-size: 14px;
}

.navigation .active{
    border-bottom: 7px red solid;
}


#menuToggle
{
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 50px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 9; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    position: absolute;
    left: 50px;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  
  z-index: 8;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(0, -200%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 7;

}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Futura Condensed', sans-serif;
  color: black;

}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 991px){

                         
}
/* header END */